@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/* You can add global styles to this file, and also import other style files */
.table_div{
    margin-top: 10px;
    position: relative;
    height: calc(100vh - 200px);
    overflow: auto;
}
.table_div table thead tr th{
    position: sticky;
    top: 0;
}
.table_div table{
    min-width: 900px;
}
p-inputnumber input {
    width: 100%;
}